<mat-grid-list cols="3" rowHeight="80px">
    <mat-grid-tile>

        <mat-form-field style="width: 400px;">
            <mat-label>Escolha o tipo de relatório:</mat-label>
            <mat-select (selectionChange)="typeReportChangedSource.next($event.value)"
                [(value)]="selectedTypeReport">
                @for (group of typeReport; track group) {
                    <mat-optgroup [label]="group.label" style="font-weight: bold;">
                        @for (item of group.items; track item) {
                            <mat-option [value]="item.value">{{item.label}}</mat-option>
                        }
                    </mat-optgroup>
                }
            </mat-select>
        </mat-form-field>    

    </mat-grid-tile>
    <mat-grid-tile>

        <label for="forceDownload" style="margin: 4px;">Forçar download:</label>
        <mat-checkbox id="forceDownload" [checked]="selectedForceDownload" 
            (change)="forceDownloadChangedSource.next($event.checked)"></mat-checkbox>
            
    </mat-grid-tile>
</mat-grid-list>
