<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-panel header="Categoria de parâmetro de configuração" styleClass="p-mb-2">
                <app-report-panel (typeReportChange)="onChangedTypeReport($event)" (forceDownloadChange)="onChangedForceDownload($event)"></app-report-panel>
            </p-panel>            
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Adicionar" icon="pi pi-plus" class="p-button-success mr-2" (click)="onInsert()"></button>
                        <button pButton pRipple label="Excluir" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelected()" 
                        [disabled]="!selectedAdmParameterCategories || !selectedAdmParameterCategories.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help" (click)="onExport()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="listaAdmParameterCategory" [columns]="cols" responsiveLayout="scroll" [rows]="10" 
                [globalFilterFields]="['description']" paginatorPosition="both"
                [paginator]="true" [rowsPerPageOptions]="[10,30,50,100,150,200]" [showCurrentPageReport]="true" 
                currentPageReportTemplate="Mostrando {first} até {last} de {totalRecords} entradas" 
                [(selection)]="selectedAdmParameterCategories" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Gerenciar categorias de parâmetros</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Procurar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>                        
                        <th pSortableColumn="id" style="width: 120px;" >Id <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="description">Descrição <p-sortIcon field="description"></p-sortIcon></th>
                        <th pSortableColumn="order">Ordem <p-sortIcon field="order"></p-sortIcon></th>            
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-admParameterCategory>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="admParameterCategory"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Id</span>
                            {{admParameterCategory.id}}
                        </td>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">Descrição</span>
                            {{admParameterCategory.description}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Ordem</span>
                            {{admParameterCategory.order}}
                        </td>
                        <td style="width:10%; min-width:8rem;">
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="onEdit(admParameterCategory)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="onDelete(admParameterCategory)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        No total existem {{listaAdmParameterCategory ? listaAdmParameterCategory.length : 0 }} categorias de parâmetros.
                    </div>
                </ng-template>            
            </p-table>
        </div>

        <p-dialog [(visible)]="admParameterCategoryDialog" [style]="{width: '450px'}" header="Detalhes da categoria de parâmetro" [modal]="true" styleClass="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="description">Descrição</label>
                    <textarea id="description" pInputTextarea [(ngModel)]="admParameterCategory.description" required autofocus rows="3" cols="20"
                    [ngClass]="{'ng-invalid ng-dirty' : submitted && !admParameterCategory.description}"></textarea>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !admParameterCategory.description">A descrição é obrigatória.</small>
                </div>
                <div class="field">
                    <label for="order">Ordem</label>
                    <p-inputNumber id="order" [(ngModel)]="admParameterCategory.order" locale="pt-BR"></p-inputNumber>
                </div>
            </ng-template>
        
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="onSave()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteAdmParameterCategoryDialog" header="Confirme" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="admParameterCategory">Tem certeza de que deseja excluir <b>{{admParameterCategory.description}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Não" (click)="deleteAdmParameterCategoryDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sim" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteAdmParameterCategoriesDialog" header="Confirme" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Tem certeza de que deseja excluir as categorias de parâmetros selecionadas?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Não" (click)="deleteAdmParameterCategoriesDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sim" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
